@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', sans-serif;
    background: white;
}

@media (width>1300px) {
    .container {
        width: 90vw;
        margin: 0 auto;
    }
}

input {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20;
    font-weight: bold;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    background: #C5FFF8;
    margin: 5px;
}

.btn {
    border-radius: 10px;
    border: 2px solid black;
    background: yellow;
    width: 300px;
    height: 70px;
    cursor: pointer;
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.couple {
    font-size: 30px;
}

.together {
    font-size: 30px;
}

.begin {
    font-size: 32px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}

.choice {
    margin-top: 100px;
    text-align: center;
    align-items: center;
}

.language {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}

.result {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}